body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    min-width: 840px;
}
.background-header {
    background: url(../img/bg-1.png) no-repeat top;
    width: 100%;
    height: 100%;
}
.logo {
    display: inline-block;
    text-align: center;
    padding: 16px 0;
}
nav {
    display: inline-block;
    float: right;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul {
    margin: 0;
    padding-left: 0;
}
nav li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 22px 12px;
}
li{
    display: inline-block;
    list-style: none;
}
nav li a:hover {
    color: #00e0d0;
    cursor: pointer;
}
.title-text {
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
}
.section-header a h1{
    color: #ffffff;
    text-transform: capitalize;
}
.section-header a,
.section-header-expertise a,
.section-header-team a {
    line-height: 1;
    display: inline-block;
    text-decoration:none;
    cursor: pointer;
}
.section-header a:after,
.section-header-expertise a:after,
.section-header-team a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    margin: 0 auto;
    transition: width .3s ease-in-out;
}
.section-header a:hover:after,
                a:focus:after,
.section-header-expertise a:hover:after,
                a:focus:after,
.section-header-team a:hover:after,
                a:focus:after{
    width: 50px;
}
.section-header a {
    color: #00e0d0;
}
.section-header a:after {
    background-color: #00e0d0;
}
.text-block {
    margin-top: 25px;
    margin-bottom: 50px;
}
.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    padding: 10px;
    font-weight: lighter;
}
button:hover{
    color: white;
    background-color: #00e0d0;
}
/*ABOUT ME*/
.about-me {
    display: inline-block;
    text-align: center;
    margin: 70px 0
}
.logo-left {
    display: inline-block;
    margin-top: 26px;
}
.logo-right {
    display: inline-block;
    float: right;
    width: 64%;
    padding-left: 10%;
    text-align: left;
    line-height: 25px;
}
.logo-right h2 {
    color: #66636d;
    font-weight: lighter;
    text-transform: uppercase;
}
.logo-right p{
    color: #817f86;
}
.about-me .button{
    margin-top: 32px;
}
.background-video {
    background: url(../img/bg-2.png) no-repeat top;
    width: 100%;
    height: 100%;
}
.play-circle {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.play-circle a {
    text-decoration: none;
    color: #ffffff;
}
/*EXPERTISE*/
.expertise {
    display: inline-block;
    text-align: center;
    color: #9a9a9a;
    margin: 66px 0;
}
.section-header-expertise a h2 {
    font-weight: lighter;
    color: #413d4b;
    font-size: 22px;
    text-transform: uppercase;
}
.section-header-expertise a p {
    font-size: 14px;
    color: #413d4b;
}
.section-header-expertise a,
.section-header-team a{
    color: #9a9a9a;
}
.section-header-expertise a:after,
.section-header-team a:after {
    background-color: #9a9a9a;
}
.expertise ul,
.background-teams ul {
    padding-left: 0;
    margin-top: 30px;
    text-align: center;
}
.top-left-icon,
.tot-right-icon,
.top-center-icon,
.bottom-left-icon,
.bottom-center-icon,
.bottom-right-icon {
    display: inline-block;
    width: calc(30% - 50px);
    padding: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #9a9a9a;
    border-right: 1px solid #9a9a9a;
}
.bottom-left-icon,
.bottom-center-icon,
.bottom-right-icon {
    border-bottom: none;
}
.bottom-right-icon {
    border-right: none;
}
.tot-right-icon {
    border-right: none;
}
.expertise h3{
    font-size: 10px;
    color: #413d4b;
    text-transform: uppercase;
}
.expertise p {
    font-size: 14px;
}
/*TEAM*/
.background-teams {
    background: url(../img/bg-3.png) no-repeat top;
    width: 100%;
    height: 100%;
}
.section-header-team {
    text-align: center;
    padding-top: 50px;
}
.section-header-team a h2 {
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}
.section-header-team a p {
    font-weight: lighter;
    color: white;
}
.background-teams ul {
    margin-bottom: 30px;
}
.background-teams li {
    color: #ffffff;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0 8px;
}
.background-teams img {
    display: inline-block;
    width: 100%;
}
.background-teams li h4 {
    font-weight: lighter;
}
.background-teams li div {
    font-size: 12px;
    text-transform: uppercase;
}
.bottom-team {
    margin: 0 auto;
    width: 330px;
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
}
.bottom-team p {
    margin-bottom: 26px;
}
/*WORKS*/
.content-work {
    width: 94%;
    margin: 0 auto;
}
.title-works {
    font-weight: lighter;
    color: #413d4b;
}
.title-works h3 {
    display: inline-block;
    margin: 66px 0;
    text-transform: uppercase;
}
.title-work-right {
    display: inline-block;
    float: right;
}
.title-work-right h4 {
    display: inline-block;
    width: 176px;
    font-size: 14px;
    margin: 66px 0;
    text-transform: capitalize;
}
.gallery a {
    display: inline-block;
    cursor: pointer;
}
.gallery {
    font-size: 0;
    width: 100%;
}
.gallery div {
    display: inline-block;
    width: 16.666%;
    box-shadow: inset 1px 2px 6px  rgba(0, 0, 0, 0.3);
}
.gallery img{
    width: 100%;
    position: relative;
    z-index: -2;
}
.work-button {
    margin: 70px auto;
    width: 110px;
}
/*TESTIMONIALS*/
.background-people-say {
    background: url(../img/bg-4.png) no-repeat top;
    width: 100%;
    height: 100%;
}
.title-test {
    text-align: center;
    padding-top: 35px;
    color: #cfced4;
}
.title-test span {
    font-size: 100px;
    color: #ffffff;
}
.test-text {
    margin-top: -50px;
    margin-bottom: 13px;
}
.test-text p {
    font-size: 16px;
    line-height: 18px;
    font-weight: lighter;
}
.test-text h3 {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 50px;
    text-transform: uppercase;
}
.test-text h4 {
    font-size: 13px;
    line-height: 22px;
    font-weight: lighter;
    margin-top: 6px;
    text-transform: uppercase;
}
.slider {
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}
.image {
    display: inline-block;
    width: 55px;
    height: 55px;
}
.image-active {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.image-active img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.image-active img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.chevron {
    display: inline-block;
    width: 20px;
    padding: 6px;
    position: relative;
    bottom: 25px;
}
.chevron a i:hover{
    color: #00e0d0;
}
.slider img {
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
.slider i {
    color: #9f9f9f;
    font-size: 34px;
    font-weight: lighter;
}
/*CONTACT*/
.form {
    display: inline-block;
    width: 48%;
}
.form h2,
.client h2{
    margin-top: 65px;
    font-size: 22px;
    line-height: 50px;
    font-weight: lighter;
    color: #413d4b;
    text-transform: uppercase;
}
.client h2 { margin-left: 15px; }

.name input,
.email input,
.subject input {
    width: 100%;
    height: 45px;
    margin: 12px 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 0 20px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    resize: none;
    overflow: auto;
    margin: 12px 0;
    font-size: 14px;
    font-weight: lighter;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.form-button {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 70px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    padding: 10px;
    font-weight: lighter;
}
.client {
    display: inline-block;
    width: 44%;
    float: right;
}
.client-image ul {
    margin: 0;
    padding-left: 0;
}
.client-image li {
    display: inline-block;
    text-align: center;
    margin: 22px;
}
.client-image img {
    display: inline-block;
    width: 96%;
}
/*FOOTER*/
.background-footer {
    background: url(../img/bg-5.png) no-repeat top;
    width: 100%;
    height: 400px;
}
.items {
    display: inline-block;
    margin: 70px 0;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    font-weight: lighter;
}
.items h3 {
    text-transform: uppercase;
}
.description {
    display: inline-block;
    width: 30%;
    float: left;
    vertical-align: top;
}
.contacts {
    display: inline-block;
    width: 29%;
    margin-left: 26px;
}
.address,
.phone {
    display: inline-block;
    padding-top: 6px;
}
.address p,
.phone p {
    display: inline-block;
    width: 240px;
    float: right;
    margin: 0 0 0 15px;
}
.social {
    display: inline-block;
    width: 31%;
    margin-left: 56px;
    vertical-align: top;
}
.social input {
    background: transparent;
    width: 210px;
    height: 44px;
    text-align: center;
    border-color: #ffffff;
    vertical-align: top;
    box-sizing: border-box;
}
.submit-btn img {
    padding-top: 8px;
}
.submit-btn {
    display: inline-block;
    width: 66px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 6px;
}
.submit-btn:hover{
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.submit-btn:active {
    background-position: center;
}
.social-media ul {
    padding-left: 0;
}
.social-media li{
    padding-right: 5px;
}
.footer-nav {
    display: inline-block;
    margin-bottom: 4%;
    text-transform: uppercase;
}
.footer-nav ul {
    padding-left: 0;
    margin: 0;
}
.footer-nav li {
    padding-right: 30px;
    font-size: 14px;
    line-height: 26px;
}
.footer-nav a {
    text-decoration: none;
    color: #ffffff;
}
.footer-nav a:hover {
    color: #00e0d0;
}
.copy {
    display: inline-block;
    color: #ffffff;
    float: right;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 4%;
}
.copy p {
    margin: 0;
}

/*Responsive*/
@media (min-width: 1360px) {
    .content {
        max-width: 71%;
        margin: 0 auto;
    }
    .title-text {
        margin: 10% 0 21%;
    }
    .play-circle {
        margin: 22% 42%;
    }
    .bottom-team {
        padding: 24px 0 98px;
    }
    .client-image li{
        width: 38%;
    }
}
@media (max-width: 1359px) {
    .content {
        max-width: 91%;
        margin: 0 auto;
    }
    .title-text {
        margin: 10% 0 14%;
    }
    .play-circle {
        margin: 16% 41%;
    }
    .bottom-team {
        padding: 10px 0 64px;
    }
    .client-image li {
        width: 34%;
    }
}
@media (max-width: 1030px) {
    .content {
        max-width: 95%;
        margin: 0 auto;
    }
    .logo-right {
        padding-left: 2%;
    }
    .slider {
        padding-bottom: 44px;
    }
    .social {
        margin-left: 8px;
        width: 36%;
    }
    .items {
        margin: 62px 0;
    }
    .contacts {
        margin-left: 26px;
        width: 29%;
    }
    .submit-button {
        margin-left: 0;
    }
    .address p, .phone p {
        margin: 0 0 0 6px;
        width: 200px;
    }
    .copy {
        margin-right: 7%;
    }
}
