body{
    margin: 0 auto;
    min-width: 600px;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1350px;
}
.wrapper {
    background-color: #fff;
    width: 100%;
    height: 90px;
}
.logo-nav {
    width: 35%;
    height: 70px;
    font-size: 40px;
    padding-top: 20px;
}
.logo-nav a{
    text-decoration: none;
    color: #000;
}
.logo {
    width: 40px;
    height: 40px;
    background-color: #5094f2;
    border-radius: 50%;
}
.logo p {
    font-size: 45px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
nav ul{
    margin: 0;
    padding-left: 0;
}
nav li a{
    display: inline-block;
    text-align: center;
    width: 65px;
    height: 62px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    line-height: 30px;
    padding-top: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
nav li a:hover {
    color: #d94748;
    cursor: pointer;
    border-bottom: 4px solid #70a5f4;
}
li {
    display: inline-block;
    list-style: none;
}
.background {
    background: url(../design/bg-big.png) no-repeat top;
    width: 100%;
    height: calc(50% - 49px);
    padding-top: 60px;
}
.text-block {
    color: #fff;
}
.text-block h1{
    font-size: 42px;
}
.text-block h2{
    font-size: 26px;
}
button {
    box-sizing: border-box;
    padding: 0 6px 9px 6px;
    background-color: #5094f2;
    color: #fff;
    width: 172px;
    height: 40px;
    font-size: 19px;
    border-color: #5094f2;
    margin-left: 14px;
}
button img{
    vertical-align: bottom;
    padding-right: 10px;
    padding-top: 6px;
}
main {
    display: inline-block;
    text-align: center;
    padding: 52px 134px 68px 140px;
}
.icons-block{
   vertical-align: bottom;
    margin-top: 10%;
}
.icons-block ul{
    padding-left: 0;
    margin: 0 0 68px 0;

}
.icons-block li{
    text-align: center;
}
.shape1, .shape2, .shape3 {
    display: -webkit-inline-box;
    width: 184px;
    height: 184px;
    border-radius: 50%;
}
.shape1 {
    background-color: #5094f2;
}
.shape1 img{
    padding-top: 40px;
    padding-left: 55px;
}
.shape2 {
    background-color: #d94748;
}
.shape2 img {
    padding-top: 50px;
    padding-left: 44px;
}
.shape3 {
    background-color: #ebbb11;
}
.shape3 img {
    padding-top: 44px;
    padding-left: 44px;
}
.icons-block h3{
    margin-top: 23px;
    font-size: 18px;
    line-height: 17px;
    color: #70a5f4;
}
.icons-block p{
    font-size: 14px;
    color: #909090;
}
.shopping-block {
    display: inline-block;
}
.cart-block h1{
    font-size: 34px;
    margin-bottom: 38px;
    color: #6f7173;
}
.shopping-block h1{
    padding-left: 25px;
    color: #6f7173;
}
.shopping-text h2{
    font-size: 22px;
    color: #6f7173;
}
.shopping-text p{
    font-size: 14px;
    line-height: 20px;
    color: #909090;
}
footer{
    border-top: 1px solid #e5e5e5;
}
footer p {
    color: #909090;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 50px;
}

/*Responsive*/

@media (min-width: 960px){
    .logo-nav {
        float: left;
    }
    .logo {
        float: left;
        margin: 6px 14px 25px 156px;
    }
    .logo p {
        display: block;
        padding-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    nav {
        float: right;
        margin-right: calc(10% - 23px);
    }
    .text-block{
        width: calc(30% - 10px);
        margin-top: 120px;
        margin-bottom: 132px;
        margin-left: 55%;
    }
    .image {
        float: left;
        display: inline-block;
        margin-left: calc(14% - 9px);
    }
    .icons-block li{
        margin: 0 4%;
        width: 24%;
    }
    .cart-block {
        float: left;
        display: inline-block;
    }
    .cart-block h1{
        padding-left: 18px;
    }
    .shopping-block{
        text-align: left;
    }
    .shopping-text {
        margin-left: 448px;
    }
}
@media (max-width: 959px){
       .logo{
           float: left;
           margin: 6px 14px 25px 30px;
       }
       .logo p {
           display: block;
           padding-left: 10px;
       }
       .logo-nav{
           float: left;
       }
       nav{
           float: right;
       }
       nav ul{
           margin-right: 25px;
       }
       .image{
           display: none;
       }
       .text-block{
           text-align: center;
           margin: 13% 15% 25% 15%;
       }
       .shopping-block{
           text-align: center;
       }
}

@media (max-width: 695px){
        .wrapper{
            height: 180px;
        }
        main{
            padding: 0 0 68px 0;
        }
        nav{
            width: 100%;
            text-align: center;
        }
        nav ul{
            padding-left: 0;
        }
        .logo-nav{
            width: 38%;
            padding: 20px 31% 0 31%;
        }
}




